* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* why not*/
    outline:none; /* duruma göre*/
}

/*body{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
}


body{
    padding-top: 100px 100px 100px 100px
}
html{
    front-size:10px;
}
*/
body{
    padding: 10m; /* eğer font sizee tanımlı ise bir değer aramaz.ama eğer tanımlı değilse diğer yerlere gider bakar/ /
    eğer rem yaparsak html'in default olan boyutunu alır.ama eğer tanımlarsak html etiketi içinde onun değerini alır (root)  m/rem/vh */ 
    font-size: 30px;
}
/* class kullanılmadığında sayfa içindeki tüm etiketler bundan etkilenir*/

h1.test{
    color: crimson;
}
.tasiyici{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

